<%- include('layout/header') %>

<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive">
        <a href="/view/create-user-games-history" class="btn btn-primary m-3">Create User Game Biodata</a>
        <table class="table table-striped text-center">
          <thead>
            <tr class="table-dark">
              <th>No</th>
              <th>Nama Game</th>
              <th>Waktu Bermain</th>
              <th>Skor Game</th>
              <th>Id User</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% usergameshistory.forEach((usergamehistory, index) => { %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= usergamehistory.nama_game %></td>
              <td><%= usergamehistory.waktu_bermain %></td>
              <td><%= usergamehistory.skor_game %></td>
              <td><%= usergamehistory.id_user %></td>
              <td><%= moment(usergamehistory.createdAt).format('Do MMMM, YYYY') %></td>
              <td>
                <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
