<%- include('layout/header') %>

<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive">
        <a href="/view/create-user-games" class="btn btn-primary m-3">Create User Game</a>
        <table class="table table-striped text-center">
          <thead>
            <tr class="table-dark">
              <th>No</th>
              <th>Username</th>
              <th>Password</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% usergames.forEach((usergame, index) => { %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= usergame.username %></td>
              <td><%= usergame.password %></td>
              <td><%= moment(usergame.createdAt).format('Do MMMM, YYYY') %></td>
              <td>
                <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
