<%- include('layout/header') %>

<div class="container">
  <div class="row my-4">
    <div class="col-lg-12">
      <div class="table-responsive">
        <a href="/view/create-user-games-biodata" class="btn btn-primary m-3">Create User Game Biodata</a>
        <table class="table table-striped text-center">
          <thead>
            <tr class="table-dark">
              <th>No</th>
              <th>Nama User</th>
              <th>Jenis Kelamin</th>
              <th>Umur</th>
              <th>Email</th>
              <th>Id User</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% usergamesbiodata.forEach((usergamebiodata, index) => { %>
            <tr>
              <th scope="row"><%= index+1 %></th>
              <td><%= usergamebiodata.nama_user %></td>
              <td><%= usergamebiodata.jenis_kelamin %></td>
              <td><%= usergamebiodata.umur %></td>
              <td><%= usergamebiodata.email %></td>
              <td><%= usergamebiodata.id_user %></td>
              <td><%= moment(usergamebiodata.createdAt).format('Do MMMM, YYYY') %></td>
              <td>
                <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
